/* ON SMARTPHONE */
@media all and (max-width:670px) {
    nav {
        /* display: none; */
        padding-right: 40px;
    }

    .about-me-wrapper .container .content-tentangSaya{
        width: 95%;
        
    }
    .about-me-wrapper .container .content-tentangSaya p{
        font-size: 12px;
    }

    input{
        width: 400px;
        height: 40px;
    }
    
    textarea {
        width: 400px;
        height: 80px;
        margin-top: 30px;
      }

      .projects{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 55px;
    }
}
