/* ON SMARTPHONE */
@media all and (max-width:670px) {
    nav {
        display: none;
        padding-right: 40px;
    }

    .about-me-wrapper .container .content-tentangSaya{
        width: 95%;
        
    }
    .about-me-wrapper .container .content-tentangSaya p{
        font-size: 12px;
    }

    input{
        width: 300px;
        height: 40px;
    }
    
    .card-project{
        margin-left: 25%;
    }
    textarea {
        width: 300px;
        height: 80px;
        margin-top: 30px;
      }

      .projects{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 55px;
    }

    .container{
        width: 90%;
    }

}