/* ROOT */
.heading{
    text-align: center;
    opacity: 0.8;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
/* ROOT */

/* HEADER */

header{
    display: flex;
    background-color: #404146;
    width: 100%;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo, nav a{
    padding: 0 15px;
    color: white;
    text-decoration: none;
    opacity: 0.97;
    font-size: 14px;
}

/* PENUTUP HEADER */

/* JUMBOTRON */

.jumbotron-wrapper{
    padding: 70px;
}

.heading h1,h2{
    padding: 7px 0;
    letter-spacing: 5px;
}

.heading span{
    color: #F1D00E;
    font-family: "Lucida Grande";
}

.heading h1{
    font-size: 100px;
    font-weight: 900;
}

.heading h2{
    font-weight: 100;
}

img{
    width: 20%;
}
.gambar{
    text-align: center;
}

/* PENUTUP JUMBOTRON */

/* ABOUT ME */
.about-me-wrapper{
    background-color: #F4F4F4;
    padding: 0 5%;
    text-align: center;
    height: 200px;
}

.about-me-wrapper .container .heading{
    padding: 60px 0 20px 0;
}

.container p{
    opacity: 0.8;
}


/* PENUTUP ABOUT ME */

/* PROYEK CONTOH */

.card-project img{
    width: 50%;
}

.proyek-contoh-wrapper {
    /* padding-bottom: 80px; */
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    text-align: center;
  }
.projects{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 55px;
}

.proyek-contoh-wrapper .container .heading{
    padding: 60px 0 20px 0;
}


/* PENUTUP PROYEK CONTOH */

/* CONTACT ME */

.form-wrapper{
    text-align: center;
    background-color: #F4F4F4;
}

.form-wrapper .container .heading{
    padding: 40px;
}

input{
    width: 800px;
    height: 40px;
}

textarea {
    width: 800px;
    height: 80px;
    margin-top: 30px;
  }

input, textarea{
    border-radius: 7px;
    border: 1px solid #ccc;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;

}

button{
    margin: 30px 0;
    background-color: #F7E989;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 6px;
}

button:hover{
    cursor: pointer;
}

/* PENUTUP CONTACT ME */

/* FOOTER */

footer{
    background-color: #7C7D82;
    height: 140px;
    display: flex;
    justify-content: space-between;
}

footer nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

/* FOOTER */
